
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  overflow-x: hidden;
}